{% extends "base.html" %}
{% block title %}Checkout{% endblock %}

{% block content %}
<section class="section">
  {% if logged_in %}
  <div class="container">


    <h1 class="title">
      Checkout
    </h1>
    <p class="subtitle">
      Please select payment method to finish your purchase.
    </p>
  </div>

  <br>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="Position">Pos</abbr></th>
          <th>Product Name</th>
          <th>Amount</th>
          <th>Unit price</th>
          <th>Total price</th>
        </tr>
      </thead>
      <tbody>
          {%for i in range(0,numberOfItems)%}
        <tr>
          <td><strong>{{i+1}}</strong></td>
          <td>{{checkoutItems[i][0].cName}}</td>
          <td>{{checkoutItems[i][1]}}</td>
          <td>{{checkoutItems[i][0].fUnitPrice|dkk}}</td>
          <td>{{checkoutItems[i][2]|dkk}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

    <p>Total: <b>{{total|dkk}}</b></p>
  </div>
  <br><br>
  <div class="container">
    <div class="control has-icons-left">
      <div class="select">
        <select>
          <option selected disabled>Select credit card...</option>
          {%for creditCard in userCreditCards%}
          <option>{{creditCard}}</option>
          {%endfor%}
        </select>
      </div>
      <span class="icon is-left">
        <i class="fas fa-credit-card"></i>
      </span>
    </div>
    <br>
    <div>
      <a class="button is-primary">Purchase now</a>
    </div>
  </div>

  {%else%}
  <div>
    <h1>You need to login to make Purchases!!</h1>
  </div>
  {%endif%}


</section>
{% endblock %}