{% extends "base.html" %}
{% block title %}Checkout{% endblock %}

{% block content %}
<section class="section">
  <div class="container">


    <h1 class="title">
      Checkout
    </h1>
    <p class="subtitle">
      Please select payment method to finish your purchase.
    </p>
  </div>

  <br>

  <div class="container">
    <p>Total: <b>{{total|dkk}}</b></p>
  </div>
  <br>
  <div class="container">
      <div class="field has-addons">
    <div class="control has-icons-left">
      <div class="select">
        <select>
          <option selected disabled>Select credit card...</option>
          {%for creditCard in userCreditCards%}
          <option>{{creditCard}}</option>
          {%endfor%}
        </select>
      </div>
      <span class="icon is-left">
        <i class="fas fa-credit-card"></i>
      </span>
    </div>
    <div class="control">
      <a class="button is-link">Purchase now</a>
    </div>
    </div>
  </div>
</section>
{% endblock %}